In [1]:
import pandas as pd

# Load the updated census data
census_data = pd.read_csv("kenya-population-by-sex-and-county.csv")

# Inspect the data
print(census_data.head())

       County  Male_Population  Female_Population  Intersex_Population  \
0     Mombasa           610257             598046                   30
1       Kwale           425121             441681                   18
2      Kilifi           704089             749673                   25
3  Tana River           158550             157391                    2
4        Lamu            76103              67813                    4

   Total_Population
0           1208333
1            866820
2           1453787
3            315943
4            143920